/* @tailwind base;
@tailwind components;
@tailwind utilities;
 */

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  column-gap: 15px;
  background-color: cyan;
  padding: 10px;
  margin-bottom: 10px;
}

.signupform {
  display: block;
}

.leftsidebar {
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 5%;
  background-color: cyan;
  position: fixed;
  padding: 8px 5px;
}

.budgetcenter {
  top: 0;
  width: 60%;
  margin-left: 5%;
  padding: 0px 8px;
}

.budgetcontainer {
  margin-bottom: 20px;
}

.budgetrightpanel {
  position: fixed;
  top: 0;
  right: 0;
  width: 48%;
  height: 100%;
  background-color: #FFB81C;
  padding: 8px;
  padding-left: 10px;
}

.budgetheader {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.budget-title-container {
  display: flex;
  align-items: center;
  font-weight: bold;
  column-gap: 25px;
}

.budgettitle {
  width: 100px;
}

.budgettable {
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.tabletitle {
  font-weight: bold;
}

.budgetAddForm {
  width: 650px;
  margin-bottom: 20px;
}

.inputtable {
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.inputitem {
  width: 92px;
}

.extraitem {
  width: 100px;
}

.budgetitem {
  width: 100px;
}

.budgetbutton {
  margin-right: 2px;
  width: 60px;
}

.longbutton {
  width: 100px;
}

.panel-title-container {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.paneltitle {
  font-weight: bold;
}

.panelbutton {
  width: 60px;
}

.paneltable {
  display: flex;
  align-items: center;
  column-gap: 25px;
  margin-top: 5px;
}

.paneltabletitle {
  font-weight: bold;
}

.panelitem {
  width: 100px;
}